# Server
IP=127.0.0.1
PORT=80
WEB_URL=http://127.0.0.1/web
RES_URL=http://127.0.0.1/

# MongoDB
DB_IP=127.0.0.1
DB_PORT=27017
DB_NAME=apypos
DB_USER=root
DB_PASSWORD=example

# Maintenance
API_NOT_AVAILABLE_MAINTENANCE=false
IS_MAINTENANCE=false
